Repository apple/turicreate, pull requests merged in 2019-09, with the labels that each got.

#2145 adding src location info in exception messages to accelerate debugging
  src/core/logging/logger.hpp
  src/python/turicreate/test/test_nearest_neighbors.py
Labels: engine

#2210 groupby optimization
  src/core/storage/query_engine/algorithm/groupby_aggregate.cpp
  src/core/storage/sframe_data/groupby_aggregate.cpp
  src/core/storage/sframe_data/groupby_aggregate_impl.cpp
  src/core/storage/sframe_data/groupby_aggregate_impl.hpp
  src/core/system/startup_teardown/startup_teardown.cpp
  src/core/util/fs_util.cpp
  src/core/util/fs_util.hpp
Labels: engine

#2272 reduce the import time of turicreate
  src/python/turicreate/__init__.py
  src/python/turicreate/_cython/cy_dataframe.pyx
  src/python/turicreate/_cython/cy_flexible_type.pyx
  src/python/turicreate/_cython/python_printer_callback.py
  src/python/turicreate/_deps/__init__.py
  src/python/turicreate/_deps/sklearn_mock.py
  src/python/turicreate/_sys_util.py
  src/python/turicreate/data_structures/image.py
  src/python/turicreate/data_structures/sarray.py
  src/python/turicreate/data_structures/sarray_builder.py
  src/python/turicreate/data_structures/sframe.py
  src/python/turicreate/data_structures/sframe_builder.py
  src/python/turicreate/data_structures/sgraph.py
  src/python/turicreate/test/test_distances.py
  src/python/turicreate/toolkits/__init__.py
  src/python/turicreate/toolkits/_data_zoo.py
  src/python/turicreate/toolkits/_feature_engineering/_feature_engineering.py
  src/python/turicreate/toolkits/_pre_trained_models.py
  src/python/turicreate/toolkits/_supervised_learning.py
  src/python/turicreate/toolkits/audio_analysis/audio_analysis.py
  src/python/turicreate/toolkits/classifier/__init__.py
  src/python/turicreate/toolkits/clustering/__init__.py
  src/python/turicreate/toolkits/distances/__init__.py
  src/python/turicreate/toolkits/distances/_util.py
  src/python/turicreate/toolkits/graph_analytics/__init__.py
  src/python/turicreate/toolkits/graph_analytics/_model_base.py
  src/python/turicreate/toolkits/image_analysis/__init__.py
  src/python/turicreate/toolkits/nearest_neighbors/__init__.py
  src/python/turicreate/toolkits/nearest_neighbors/_nearest_neighbors.py
  src/python/turicreate/toolkits/one_shot_object_detector/__init__.py
  src/python/turicreate/toolkits/recommender/__init__.py
  src/python/turicreate/toolkits/recommender/item_content_recommender.py
  src/python/turicreate/visualization/_plot.py
Labels: engine

#2295 more aggressive reduction on import time
  src/python/turicreate/__init__.py
  src/python/turicreate/toolkits/recommender/__init__.py
Labels: optimization

#2260 benchmark for groupby operation
  src/core/storage/sframe_data/testing_utils.hpp
  test/CMakeLists.txt
  test/benchmark/CMakeLists.txt
  test/benchmark/sframe_bench.cpp
  test/benchmark/sframe_bench_aggregate.cpp
  test/sframe/CMakeLists.txt
Labels: benchmark, engine

#2362 Drawing Classifier TF mxnet data init for forward pass
  src/python/turicreate/toolkits/drawing_classifier/drawing_classifier.py
Labels: drawing classifier
