Repository apple/turicreate, pull requests merged in 2019-02, with the labels that each got.

#1406 Handle exception thrown when calling `nvidia-smi` when no GPU is installed
  src/unity/python/turicreate/util/__init__.py
Labels: bug, image classifier, linux gpu

#1451 Sound Classifier -- Initial Version
  scripts/requirements.txt
  src/unity/python/setup.py
  src/unity/python/turicreate/__init__.py
  src/unity/python/turicreate/test/test_audio_functionality.py
  src/unity/python/turicreate/toolkits/audio_analysis/__init__.py
  src/unity/python/turicreate/toolkits/audio_analysis/audio_analysis.py
  src/unity/python/turicreate/toolkits/sound_classifier/__init__.py
  src/unity/python/turicreate/toolkits/sound_classifier/_audio_feature_extractor.py
  src/unity/python/turicreate/toolkits/sound_classifier/mel_features.py
  src/unity/python/turicreate/toolkits/sound_classifier/sound_classifier.py
  src/unity/python/turicreate/toolkits/sound_classifier/vggish_input.py
  src/unity/python/turicreate/toolkits/sound_classifier/vggish_params.py
Labels: new toolkit, sound classifier

#1450 Audio Preprocessing
  src/objc/AudioPreprocessing.h
  src/objc/AudioPreprocessing.m
  src/objc/CMakeLists.txt
  src/unity/python/turicreate/test/test_audio_functionality.py
Labels: Core ML, sound classifier

#1436 New Toolkit: Drawing Classifier
  CMakeLists.txt
  src/unity/python/turicreate/__init__.py
  src/unity/python/turicreate/toolkits/_mxnet_to_coreml/_layers.py
  src/unity/python/turicreate/toolkits/drawing_recognition/__init__.py
  src/unity/python/turicreate/toolkits/drawing_recognition/_model_architecture.py
  src/unity/python/turicreate/toolkits/drawing_recognition/_sframe_loader.py
  src/unity/python/turicreate/toolkits/drawing_recognition/drawing_recognition.py
  src/unity/server/registration.cpp
  src/unity/toolkits/CMakeLists.txt
  src/unity/toolkits/drawing_recognition/CMakeLists.txt
  src/unity/toolkits/drawing_recognition/class_registrations.cpp
  src/unity/toolkits/drawing_recognition/class_registrations.hpp
  src/unity/toolkits/drawing_recognition/data_preparation.cpp
  src/unity/toolkits/drawing_recognition/data_preparation.hpp
Labels: drawing classifier, new toolkit
