Repository apple/turicreate, pull requests merged in 2019-03, with the labels that each got.

#1449 Stroke to Bitmap conversion for non-macOS code paths
  src/unity/python/turicreate/toolkits/drawing_recognition/_sframe_loader.py
  src/unity/python/turicreate/toolkits/drawing_recognition/drawing_recognition.py
  src/unity/toolkits/drawing_recognition/class_registrations.cpp
  src/unity/toolkits/drawing_recognition/data_preparation.cpp
  src/unity/toolkits/drawing_recognition/data_preparation.hpp
Labels: drawing classifier

#1504 Sound Classifier Documentation
  README.md
  src/unity/python/doc/source/conf.py
  src/unity/python/doc/source/turicreate.toolkits.rst
  src/unity/python/doc/source/turicreate.toolkits.sound_classifier.rst
  src/unity/python/turicreate/toolkits/image_classifier/image_classifier.py
  src/unity/python/turicreate/toolkits/sound_classifier/sound_classifier.py
  userguide/README.md
  userguide/SUMMARY.md
  userguide/image_classifier/README.md
  userguide/sound_classifier/README.md
  userguide/sound_classifier/export-coreml.md
  userguide/sound_classifier/how-it-works.md
  userguide/sound_classifier/xcode-dylib.png
  userguide/sound_classifier/xcode-mlmodel.png
Labels: sound classifier

#1562 Fix method name in error message
  src/unity/python/turicreate/data_structures/sarray.py
Labels: error message

#1581 Drawing Classifier: Added support for validation set + fixed training metric reporting
  src/unity/python/turicreate/toolkits/drawing_classifier/_sframe_loader.py
  src/unity/python/turicreate/toolkits/drawing_classifier/drawing_classifier.py
  src/unity/python/turicreate/util/progress_table_printer.py
Labels: drawing classifier

#1490 Unit tests for drawing_classifier
  src/unity/python/turicreate/test/drawings/check0.JPG
  src/unity/python/turicreate/test/drawings/check1.JPG
  src/unity/python/turicreate/test/drawings/check2.JPG
  src/unity/python/turicreate/test/drawings/check3.JPG
  src/unity/python/turicreate/test/drawings/check4.JPG
  src/unity/python/turicreate/test/drawings/cross0.JPG
  src/unity/python/turicreate/test/drawings/cross1.JPG
  src/unity/python/turicreate/test/drawings/cross2.JPG
  src/unity/python/turicreate/test/drawings/cross3.JPG
  src/unity/python/turicreate/test/drawings/cross4.JPG
  src/unity/python/turicreate/test/test_drawing_classifier.py
  src/unity/python/turicreate/toolkits/drawing_classifier/drawing_classifier.py
  src/unity/python/turicreate/toolkits/drawing_classifier/util/_visualization.py
  src/unity/toolkits/drawing_classifier/data_preparation.cpp
Labels: drawing classifier, testing

#1610 Drawing Classifier: Activated the pretrained model
  src/unity/python/turicreate/test/test_drawing_classifier.py
  src/unity/python/turicreate/toolkits/_pre_trained_models.py
  src/unity/python/turicreate/toolkits/drawing_classifier/drawing_classifier.py
Labels: drawing classifier, toolkits

#1626 Drawing Classifier: Added predict_topk and output_type to predict
  src/unity/python/turicreate/test/test_drawing_classifier.py
  src/unity/python/turicreate/toolkits/drawing_classifier/drawing_classifier.py
Labels: drawing classifier, toolkits

#1623 Drawing Classifier: Improved error handling for Validation Set
  src/unity/python/turicreate/toolkits/_pre_trained_models.py
  src/unity/python/turicreate/toolkits/drawing_classifier/drawing_classifier.py
Labels: drawing classifier, toolkits

#1637 Drawing Classifier: Last batch in training and eval was not being loaded in all contexts.
  src/unity/python/turicreate/toolkits/drawing_classifier/drawing_classifier.py
Labels: drawing classifier, toolkits

#1628 Drawing Classifier: Non-negativity checks for batch_size, max_iterations
  src/unity/python/turicreate/toolkits/drawing_classifier/drawing_classifier.py
Labels: drawing classifier, toolkits

#1629 Drawing Classifier: Modified evaluate error message if target column is not present.
  src/unity/python/turicreate/toolkits/drawing_classifier/drawing_classifier.py
Labels: drawing classifier, toolkits

#1651 Added Advanced Usage section to Userguide Summary page
  userguide/SUMMARY.md
Labels: docs, drawing classifier

#1652 Drawing Classifier Userguide Enhancement
  userguide/drawing_classifier/data-preparation.md
Labels: drawing classifier
