Repository apple/turicreate, pull requests merged in 2020-01, with the labels that each got.

#2926 duplicated printer for the last entry of each batch
  src/toolkits/style_transfer/style_transfer.cpp
Labels: style transfer

#2902 enable case-insensitive protocol
  src/core/storage/fileio/dmlcio/filesys.h
  src/core/storage/fileio/file_download_cache.cpp
  src/core/storage/fileio/fs_utils.cpp
  src/core/storage/fileio/fs_utils.hpp
  src/core/storage/fileio/s3_api.cpp
  src/core/storage/fileio/sanitize_url.cpp
  src/core/storage/fileio/union_fstream.cpp
  test/fileio/general_fstream_test.cxx
Labels: engine, feature

#2955 [OD] 6.0 inference regression between CPU and GPU.
  src/python/turicreate/toolkits/object_detector/_tf_image_augmenter.py
Labels: bug, object detection, p2
